@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-semibold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/Inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}

.inter{
  font-family: 'Inter', sans-serif;
}

.interbold{
  font-family: 'Inter-semibold', sans-serif;
}

.bebas{
  font-family: 'Bebas Neue', sans-serif;
}
.gradient {
    background: linear-gradient(to right, #FFFFFF1A, #FFFFFF1A);
  }


/* Animation */

.best{
  animation:  animImoge 1s step-end infinite;
}


@keyframes animImoge {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.activo {
 background: #00FF47;  
}

.activo p {
  color: #1C1C1C;
}

.activo #total{
  margin-top: 5px;
}


/* Customizando a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Customizando a parte de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #1C1C1C; /* Cor do fundo da barra de rolagem */
}

/* Customizando a cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #00FF47; /* Cor da barra de rolagem */
  border-radius: 20px; /* Bordas arredondadas */
}

/* Customizando a barra de rolagem ao passar o mouse por cima */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da barra de rolagem quando o mouse está sobre ela */
}